<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
           
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a class="nav-item nav-link" href="/">Home</a></li>
            <li><a class="nav-item nav-link" href="/about">About MyBlogPost</a></li>
                {% if current_user.is_authenticated %}
            <li><a class="nav-item nav-link" href="/">View Blogs</a></li>
                {% else %}
            <li><a class="nav-item nav-link" href="{{url_for('auth.login')}}">View your Blogs</a></li>
                {%endif%}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
            <li> <a class="nav-item nav-link" href="{{ url_for('main.new_post')}}">New Post</a></li>
  
            <li><a class="nav-item nav-link" href="/">Account</a></li>
            <li><a class="nav-item nav-link" href="{{ url_for('.logout')}}">Logout</a></li>
              {% else %}
            <li><a class="nav-item nav-link" href="{{url_for('auth.login')}}">Login</a></li>
            <li><a class="nav-item nav-link" href="{{ url_for('auth.register')}}">Register</a></li>
               {% endif%}
            </ul>
        </div>

    </div>
</div>
